     
       .container-fluid{
        margin: 0 auto;
        margin-top: 20px;
        width: 75%;
        background-color:#202020;
        color: white;
        

      }

  
      .centered-block{
        
        margin: 0 auto;
        padding-top:30px;
        padding-bottom:30px;
        text-align: center;
        /* width: 75%;  */
        
        font-size:30px;

  

      }
      
      .centered-button{
        
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        

      }
      
     .outerdivision{
         margin: 0 auto;
         width: 75%;
         overflow:  hidden;



     }
     .toolbar-2{
       margin: 0 auto;
     text-align: center;
     justify-content: center;
     }
     .somerandom{
         margin: 0 auto;
         
         align-content: center;
         align-items: center;
         align-self: center;
         text-align: center;
        
     }
      .centered-content{
        
        margin:0 auto;
        width: 75%; 
        padding-bottom: 20px;
      }
      #stuffs{
        margin-top: 5px; 

      }
      sup{
        color:red;
        font-size:15px;
      }
      small{
          color:red;
      }
      :host {
        display: block;
        overflow: hidden; /* Hide everything that doesn't fit compoennt */
      }
      .parent {
        height: 100%;
        width: 200%;      /* Make the parent element to take up twice
                             of the component's width */
        display: flex;    /* Align all children in a row */
       /* Evenly divide width between children */
      }
      .parent div { 
          flex: 1; 
        }  
        .alert-warning{
            
            
            text-align: left;
         
           
color: #856404;
background-color: #fff3cd;
border-color: #ffeeba;
        }
@-ms-viewport{
    width: device-width;
}



.detail-button{
  float:right;
}

.entire{
  overflow:auto;
}
.eachproduct{
  overflow:auto;
}
:host {
  display: block;
  overflow: hidden; /* Hide everything that doesn't fit compoennt */
}
.parent1 {
  height: 100%;
  width: 200%;
        /* Make the parent element to take up twice
                       of the component's width */
  display: flex;    /* Align all children in a row */
  /* Evenly divide width between children */
}
.parent1 div { flex: 1; }
.overstuff{
  overflow: hidden;
}